@(question : Question)

@main("Vote") {
	<h1>@question.getName()</h1>
		<form action="@routes.Application.voteForQuestion(question.getId())" id="vote" method="post">
		@for(choix <- question.getChoixList()){
			@if(question.isMultiple()) {
				<label>
					<input name="choosen" type="checkbox" value="@choix.getId()">@choix.getName()<br/>
				</label>
			} else {
				<label>
					<input name="choosen" type="radio" value="@choix.getId()">@choix.getName()<br/>	
				</label>
			}
	}
			<input type="submit" value="Voter!">
	</form>

	<script type="text/javascript">
		$(function() {
			$("form#vote").on('submit', function(event) {
				var votes = [];
				$("form#vote input:checked").each(function() {
					votes.push($(this).next().val());
				});
				if (votes.length == 0)
				{
					alert("Vous n'avez pas encore choisi de réponse!");
					event.preventDefault();
				}
			});
		});
	</script>

}
