@(question : Question)

@main("Vote") {
	@if(question == null) {
		<p style="color: red">La question n'a pas pu être trouvée</p>	
	} else {
		<h1>@question.getName()</h1>
		<form action="@routes.Application.voteForQuestion(question.id)" id="vote">
		@for(choix <- question.getChoixList()){
			@if(question.isMultiple()) {
				<input name="choosen" type="checkbox" value="@choix.getId()">@choix.getName()<br/>
			} else {
				<input name="choosen" type="radio" value="@choix.getId()">@choix.getName()<br/>
			}
	}
			<input type="submit" value="Voter!">
	</form>
	}
	<script type="text/javascript">
		$(function() {
			$("form#vote").on('submit', function(event) {
				var votes = [];
				$("form#vote input:checked").each(function() {
					votes.push($(this).next().val());
				});
				if (votes.length == 0)
				{
					alert("T'as pas encore voté connard!");
					event.preventDefault();
				}
			});
		});
	</script>

}
